{% extends "layout.html" %}

{% block content %}
    
    <h1 style="text-align: center; color: #ffffff;">F1DB</h1>
    <h2 style="color: #ffffff;">Dashboard</h2>
    <p style="color: #ffffff;">Click on a button to get that component's functionality</p>
    <div class="ui inverted three item menu">
        <a class="red item" id="drivers-menu">Drivers</a>
        <a class="red item" id="circuits-menu">Circuits</a>
        <a class="red item" id="races-menu">Races</a>
    </div>
    <div id="content"></div>
    <br>
    

    <div id="drivers-content" style="display: none; color: #ffffff;">
        <h2 style="color: #ffffff;">Drivers</h2>
        <p style="color: #ffffff;">Here you can find all the drivers functionality.</p>
        <br>
        <div class="ui equal width grid" style="text-align: center;" id="buttons-container">
            <div class="ui grid">
                <div class="five wide column">
                    <button class="ui inverted blue basic button" id="all-drivers-button">All Drivers</button>
                </div>
                <div class="six wide column">
                    <button class="ui inverted blue basic button" id="driver-by-id-button">Driver by ID</button>
                </div>
                <div class="five wide column">
                    <button class="ui inverted blue basic button" id="filter-drivers-button">Filter Drivers</button>
                </div>
                <div class="five wide column">
                    <button class="ui inverted blue basic button" id="race-results-button">Race results for Driver</button>
                </div>
                <div class="six wide column">
                    <button class="ui inverted blue basic button" id="total-points-button">Total Points for Driver</button>
                </div>
                <div class="five wide column">
                    <button class="ui inverted blue basic button" id="multiple-wins-button">Drivers with multiple wins</button>
                </div>
                <div class="five wide column">
                    <button class="ui inverted red basic button" id="delete-driver-button">Delete Driver by ID</button>
                </div>
                <div class="six wide column">
                    <button class="ui inverted green basic button" id="create-driver-button">Create Driver</button>
                </div>
                <div class="five wide column">
                    <button class="ui inverted yellow basic button" id="update-driver-button">Update Existing Drivers</button>
                </div>
            </div>
        </div>
    </div>  
    <div id="circuits-content" style="display: none; color: #ffffff"> 
        <h2 style="color: #ffffff;">Circuits</h2>
        <p style="color: #ffffff;">Here you can find all the circuits functionality.</p>
        <br>
        <div class="ui grid" style="text-align: center;">
            <div class="five wide column">
                <button class="ui inverted blue basic button" id="all-circuits-button">All Circuits</button>
            </div>
            <div class="six wide column">
                <button class="ui inverted blue basic button" id="circuit-by-id-button">Circuits by ID</button>
            </div>
            <div class="five wide column">
                <button class="ui inverted blue basic button" id="filter-circuits-button">Filter Circuits</button>
            </div>
            <div class="five wide column">
                <button class="ui inverted blue basic button" id="sort-circuits-button">Sort Circuits</button>
            </div>
            <div class="six wide column">
                <button class="ui inverted blue basic button" id="most-popular-circuit-button">Most Popular Circuit</button>
            </div>
            <div class="five wide column">
                <button class="ui inverted red basic button" id="search-circuits-button">Search in Circuits</button>
            </div>
            <div class="five wide column">
                <button class="ui inverted blue basic button" id="delete-circuit-button">Delete Circuit by ID</button>
            </div>
            <div class="six wide column">
                <button class="ui inverted green basic button" id="create-circuit-button">Create Circuit</button>
            </div>
            <div class="five wide column">
                <button class="ui inverted yellow basic button" id="update-circuit-button">Update Existing Circuit</button>
            </div>
        </div>
    </div>
    <div id="races-content" style="display: none; color: #ffffff">
        <h2 style="color: #ffffff;">Races</h2>
        <p style="color: #ffffff;">Here you can find all the races functionality.</p>
        <br>
        <div class="ui grid" style="text-align: center;">
            <div class="five wide column">
                <button class="ui inverted blue basic button" id="all-races-button">All Races</button>
            </div>
            <div class="six wide column">
                <button class="ui inverted blue basic button" id="race-by-id-button">Races by ID</button>
            </div>
            <div class="five wide column">
                <button class="ui inverted blue basic button" id="filter-races-button">Filter Races</button>
            </div>
            <div class="five wide column">
                <button class="ui inverted yellow basic button" id="increment-points-button">Increment points for Race</button>
            </div>
            <div class="six wide column">
                <button class="ui inverted green basic button" id="create-race-button">Create Race</button>
            </div>
            <div class="five wide column">
                <button class="ui inverted yellow basic button" id="update-race-button">Update Existing Race</button>
            </div>
            <div class="sixteen wide column">
                <button class="ui inverted red basic button" id="delete-race-button">Delete Race by ID</button>
            </div>
        </div>
    </div>
    <br><br><br>
    <div id="response-content" style="color: #ffffff;"></div>
    <br><br><br>
    <button class="ui red button float-right;" id="reset-database-button">Reset Database</button>
    
    <!-- Modals -->

    <div class="ui basic modal" id="reset-database-modal">
        <div class="ui icon header">
            <i class="warning sign icon"></i>
            Confirm Database Reset
        </div>
        <div class="content">
            <p>Are you sure you want to reset the database? This action cannot be undone.</p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                Cancel
            </div>
            <div class="ui green ok inverted button" id="confirm-reset-database-button">
                <i class="checkmark icon"></i>
                Confirm
            </div>
        </div>
    </div>

    <div class="ui basic modal" id="driver-id-modal">
        <div class="ui icon header">
            <i class="search icon"></i>
            Search for a Driver by ID
        </div>
        <div class="content">
            <div class="ui input">
                <input type="text" id="driver-id-input" placeholder="Enter Driver ID...">
            </div>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                Cancel
            </div>
            <div class="ui green ok inverted button" id="search-driver-button">
                <i class="checkmark icon"></i>
                Search
            </div>
        </div>
    </div>

    <div class="ui basic modal" id="circuit-id-modal">
        <div class="ui icon header">
            <i class="search icon"></i>
            Search for a Driver by ID
        </div>
        <div class="content">
            <div class="ui input">
                <input type="text" id="circuit-id-input" placeholder="Enter Circuit ID...">
            </div>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                Cancel
            </div>
            <div class="ui green ok inverted button" id="search-circuit-button">
                <i class="checkmark icon"></i>
                Search
            </div>
        </div>
    </div>

    <div class="ui basic modal" id="race-id-modal">
        <div class="ui icon header">
            <i class="search icon"></i>
            Search for a Driver by ID
        </div>
        <div class="content">
            <div class="ui input">
                <input type="text" id="race-driver-id-input" placeholder="Enter Driver ID...">
            </div>
        </div>
        <div class="content">
            <div class="ui input">
                <input type="text" id="race-circuit-id-input" placeholder="Enter Circuit ID...">
            </div>
        </div>
        <div class="content">
            <div class="ui input">
                <input type="date" id="race-date-input" placeholder="Enter Race Date...">
            </div>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                Cancel
            </div>
            <div class="ui green ok inverted button" id="search-race-button">
                <i class="checkmark icon"></i>
                Search
            </div>
        </div>
    </div>

    <div class="ui basic modal" id="filter-drivers-modal">
        <div class="ui icon header">
            <i class="filter icon"></i>
            Filter Drivers
        </div>
        <div class="content">
            <div class="ui form">
                <div class="field">
                    <label>Nationality</label>
                    <input type="text" id="filter-drivers-input" placeholder="Enter nationality...">
                </div>
                <div class="field">
                    <label>Team</label>
                    <input type="text" id="filter-team-input" placeholder="Enter team...">
                </div>
                <div class="field">
                    <label>Number</label>
                    <input type="text" id="filter-number-input" placeholder="Enter number...">
                </div>
                <div class="field">
                    <label>Circuit ID</label>
                    <input type="text" id="filter-circuit-id-input" placeholder="Enter circuit ID...">
                </div>
                <div class="field">
                    <label>Date of Birth</label>
                    <input type="date" id="filter-dob-input" placeholder="Enter date of birth...">
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                Cancel
            </div>
            <div class="ui green ok inverted button" id="filter-drivers-search-button">
                <i class="checkmark icon"></i>
                Search
            </div>
        </div>
    </div>
    
    
{% endblock %}